{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block content %}

<div class="form-div login-register-div">
    <div class="form-box login-register-box">
        
        <h1>LogIn</h1>
        
        <form action="#" method="post">
            
            {% csrf_token %}
            {{ form.errors }}
            {{ form.username|placeholder:"Enter your Email or Username" }}
            {{ form.password|placeholder:"Enter your Password" }}
            
            <button type="submit">SIGN IN</button>
        </form>

    </div>
    <div class="second-option">

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>
 {% endblock %}