{% extends 'common/base.html' %}
{% block content %}
    
{% load static %}    
<div class="category-div">
    {% for category in categories %}
        <div class="category-box" data-category-id="{{ category.pk }}">
            <div class="category-content">
                <a href="{% url 'category-recipes' category.pk %}"><h4 class="category-name">{{ category.category_name }}</h4></a>
                {% for category_pk, count in category_recipes_count.items %}
                    {% if category_pk == category.pk and count > 0 %}
                        {% if request.user.is_staff or request.user.is_superuser %}
                            <p>{{ category.recipes.count }} recipes have been added to this category</p>
                        {% else %}    
                            <p>{{ count}} recipes have been added to this category</p>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <p>There are no recipes added to this category yet</p>
                {% endfor %}    
            </div>
            {% if request.user.is_staff or request.user.is_superuser %}
                <div class="category-actions">
                    <form action="{% url 'edit-delete-category' category.pk %}"
                          class="category-edit-form" onsubmit="return false">
                        {% csrf_token %}
                        <button type="button" class="edit-category-btn"
                                onclick="openEditCategoryModal({{ category.pk }}, '{{ category.category_name|escapejs }}')">
                            <i class="fa-solid fa-pen"></i></button>
                    </form>
                    <form action="{% url 'edit-delete-category' category.pk %}"
                          class="category-delete-form" onsubmit="return false">
                        {% csrf_token %}
                        <button type="button" class="category-comment-btn"
                                onclick="openDeleteCategoryModal({{ category.pk }})"><i
                                class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
                {% include 'categories/edit-delete-category-modal.html' %}
            {% endif %}
        
            </div>
    {% empty %}
        <h1 class="no-categories">
            <span>No</span>
            <span>Categories</span>
            <span>Yet</span>
        </h1>
    {% endfor %}
</div>    
    
{% include 'common/paginator.html' %}
    
<script src="{% static 'js/categories.js' %}"></script>
    
{% endblock %}



