{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    
<h1 class="no-recipes">
    <span>Welcome</span>
    <span>To</span>
    <span>Django</span>
    <span>Recipes</span>
</h1>   
<div class="flex-div">

    <div class="flex-box">
        
        <a href="" class="menu-link">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Find Recipes</span>
        </a>
    
    </div>

    <div class="flex-box">
        
        <a href="" class="menu-link">
            <div>
                <i class="fa-solid fa-n"></i>
                <i class="fa-solid fa-e"></i>
                <i class="fa-solid fa-w"></i>
            </div>
            <span>Recipes</span>
        </a>
    
    </div>

    <div class="flex-box">
        
        <a href="" class="menu-link">
            <i class="fa-solid fa-question"></i>
            <span>What to Cook</span>
        </a>
    
    </div>
    
</div>
    
{% endblock %}
