{% load url_query_append %}
    
{% if recipes.paginator.num_pages > 1 %}
    
    <div class="pagination" id="pagination-container">
    
        <span class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
        </span>
    
        <span class="step-links-buttons">
            {% if recipes.has_previous %}
                <a href="?page={{ recipes.previous_page_number }}&search_criteria={{ request.GET.search_criteria }}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            {% endif %}

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}&search_criteria={{ request.GET.search_criteria }}">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            {% endif %}
        </span>
    
    </div>
    
{% endif %}
