{% load static %}

<div class="recipe-div">

    {% for recipe in recipes %}
        <div class="recipe-box">
            {% if recipe.photos.all %}
                <img src="{{ recipe.photos.first.photo_url }}" alt="{{ recipe.recipe_name }}" class="image-recipe">
            {% else %}
                <img src="{% static 'images/no-photo-recipe2.png' %}" alt="{{ recipe.recipe_name }}"
                     class="image-recipe">
            {% endif %}
            <div class="recipe-content">
                <h3> {{ recipe.recipe_name }}
                    {% if request.user == recipe.user %}
                        <i class="fa-solid fa-crown"></i>
                    {% endif %}
                </h3>
                
                <p> Difficulty level: {{ recipe.difficulty_level }}</p>
                <p> Portions: {{ recipe.portions }}</p>
                <a href="{% url 'recipe-details' recipe.pk %}" class="recipe-link">View Recipe</a>
            </div>
        </div>
    {% empty %}
        <h1 class="no-recipes">
            <span>No</span>
            <span>Recipes</span>
            <span>Yet</span>
        </h1>
    {% endfor %}

</div>
